<app-menu></app-menu>
<div class="container">
  <div class="row">
<!-- 
<h1>
  IDGS901 - Angular
</h1>
<p>Hola Mundo</p>


<div>
  {{title}}
</div>
<b>

</b>
<div>
  <hr>
  <div>
    El doble de 3 es: {{calcular(3)}}
  </div>

<hr>
<div>
  <b>Matricula: {{alumno.matricula}}</b>
</div>
<div>
  <b>Nombre: {{alumno.nombre|uppercase}}</b>
</div>
<div>
  <b>Edad: {{alumno.edad}}</b>
</div>
<div>
  <b>Fecha de nacimiento: {{alumno.fechaNacimiento|date}}</b>
</div>
<div>
  <b>Pago: {{alumno.pago|currency}}</b>
</div>

<hr>
<br>
<app-utl></app-utl>
<hr>
<br>
<app-ievn></app-ievn>
<hr>
<br>
<app-iric></app-iric>

</div>
</div> -->

<!-- <hr>
<br>
<app-iric></app-iric> -->

<!-- <app-calificacion-alum></app-calificacion-alum> -->
<!-- <app-suma></app-suma>
<app-operas-bas></app-operas-bas> -->

<app-alumno-reactive></app-alumno-reactive>
</div>
</div>



